body {
  font-size: 10px;
  font-family:verdana;
  line-height: 15px;
}
body * {
  vertical-align: top;
}
form {
  padding:0;
  margin:0;
}
fieldset {
  border:1px solid #999;
  padding:10px;
}
fieldset legend {
  font-size:18px;
  font-weight:bold;
  color:#000099;
  padding:0 10px;
  border:1px solid #999;
}
fieldset label {
  font-weight:bold;
}

#followPage {
  position:fixed;
  right:0;
  top:0;
  background:#e0e0e0;
  padding:10px 20px;
  border-bottom:5px solid #fff;
  border-left:5px solid #fff;
  text-align: right;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
}

table.wide {
  width:100%;
}
table.wide tr th {
  padding:2px 4px;
  font-size:14px;
  font-weight:bold;
  border-bottom:2px solid #999;
  text-align:left;
}
table.wide tr td {
  padding:2px 4px;
  font-size:12px;
  border-bottom:1px dotted #999;
  text-align:left;
}
table.wide tr.res_alt td {
  background:#99F;
}
table.wide tr.code_404 td {
  background:#F99;
}
table.wide tr td a {
 display: inline-block;
 max-width: 75%;
 overflow: hidden;
 text-overflow: ellipsis;
 line-height: 15px;
 height: 15px;
}
table.wide tr td small {
 line-height: 15px;
 height: 15px;
}
table.thin {
}
table.thin tr th {
  padding:2px 4px;
  font-size:14px;
  font-weight:bold;
  border-bottom:2px solid #999;
  text-align:left;
}
table.thin tr td {
  padding:2px 4px;
  font-size:12px;
  border-bottom:1px dotted #999;
  text-align:left;
}
